
@model IEnumerable<IT703___Assignment2.Models.InHouseReportModel>
@{
    ViewData["Title"] = "In-House Report";
}
<h2>In-House Report</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Customer Name</th>
            <th>Room Type</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Booking Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookingID</td>
                <td>@item.CustFirstName @item.CustLastName</td>
                <td>@item.RoomType</td>
                <td>@item.CheckInDate.ToString("yyyy-MM-dd")</td>
                <td>@item.CheckOutDate.ToString("yyyy-MM-dd")</td>
                <td>@item.BookingStatus</td>
            </tr>
        }
    </tbody>
</table>